.color-picker-input {
  height: 47px;
  width: 44px;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
}

.color-picker-input::-webkit-color-swatch {
  border-radius: 4px;
  border: none;
}

.color-picker-input::-moz-color-swatch {
  border-radius: 4px;
  border: none;
}

.ease-calendar-tour {
  border-radius: 8px;
}

.ease-calendar-tour .reactour__close-button {
  color: #8257e5 !important;
  display: none !important;
}

.ease-calendar-tour > span {
  background: #8257e5 !important;
}

.ease-calendar-tour > div[dir="ltr"] button {
  display: none !important;
}

.ease-calendar-tour > div[dir="ltr"] > div > button {
  color: #8257e5 !important;
  background: #8257e5 !important;
}
