.color-picker-input {
  height: 47px;
  width: 44px;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
}

.color-picker-input::-webkit-color-swatch {
  border-radius: 4px;
  border: none;
}

.color-picker-input::-moz-color-swatch {
  border-radius: 4px;
  border: none;
}
